body { text-align:center; background: url("background.gif") black repeat;}
h1 { text-decoration: blink;}
img { border:5px solid pink; -moz-transform:rotate(10deg);-ms-transform:rotate(10deg);-webkit-transform:rotate(10deg);}
p { font-size:2em;}